#cont_bton_collap {
    width: 300px
}

.sidebar {
    transition: all 0.3s ease-in-out;
}

.sidebar.collapsed {
    width: 60px !important;
    /* Ajusta el ancho al tamaño deseado */
}

#hr_menu.collapsed {
    width: 10%;
}

#menu_collapsed.collapsed {
    width: 10%;
}

#name_app.hide {
    display: none;
}

.sidebar-content span {
    transition: opacity 0.3s ease-in-out;
}

.sidebar.collapsed .sidebar-content span {
    opacity: 0;
    /* Oculta los textos */
    visibility: hidden;
    /* Evita que ocupen espacio */
}